soc_project5/flow-before.json
[{"id":"d38f61b9.a242f","type":"tab","label":"Physician","disabled":false,"info":""},{"id":"794960be.4e51b","type":"tab","label":"TumorBoard","disabled":false,"info":""},{"id":"f665c2b9.50c7c","type":"tab","label":"Pathologist","disabled":false,"info":""},{"id":"39af6d6d.cd6212","type":"tab","label":"Radiologist","disabled":false,"info":""},{"id":"ee32f444.0245f8","type":"tab","label":"Patient","disabled":false,"info":""},{"id":"d15d6e0d.afdc3","type":"udp in","z":"d38f61b9.a242f","name":"Physician","iface":"","port":8000,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["d0847be0.0777a8"]]},{"id":"d0847be0.0777a8","type":"json","z":"d38f61b9.a242f","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["4e97a0b.5bf486"]]},{"id":"4e97a0b.5bf486","type":"bspl-observer","z":"d38f61b9.a242f","name":"Physician","spec":"in ID key, out person, in calcification, in radioReport, in tissue, in cells, in pathoReport, in name, out diagnosis, out findingsPhy","timeout":0,"x":402.5,"y":60,"wires":[["4b91ed40.ad7bc4"]]},{"id":"4b91ed40.ad7bc4","type":"debug","z":"d38f61b9.a242f","name":"Physician","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":555,"y":60,"wires":[]},{"id":"5b074229.a4de1c","type":"inject","z":"d38f61b9.a242f","name":"send biopsy to Patho","topic":"","payload":"{\"ID\": \"1\", \"tissue\": \"tissue\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["f2cd69c4.c4cfa8"]]},{"id":"f2cd69c4.c4cfa8","type":"bspl-message","z":"d38f61b9.a242f","name":"send BreastCancerDiagnosis/sendBiopsy","spec":"in ID key, in name, out tissue","x":500,"y":120,"wires":[["a64d6588.382fd8"]]},{"id":"908e342.7c2ffc8","type":"inject","z":"d38f61b9.a242f","name":"send Patient to Radio","topic":"","payload":"{\"person\": \"Hasham\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["b14ca095.61634"]]},{"id":"b14ca095.61634","type":"bspl-message","z":"d38f61b9.a242f","name":"send BreastCancerDiagnosis/sendPatient","spec":"in ID key, in name, in tissue, out person","x":502.5,"y":180,"wires":[["af3672ef.1de64"]]},{"id":"aa73bb95.18bd68","type":"inject","z":"d38f61b9.a242f","name":"Path and Radio send reports","topic":"","payload":"{\"ID\": \"1\", \"diagnosis\": \"diagnosis\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["b393c2a9.6ff66"]]},{"id":"b393c2a9.6ff66","type":"bspl-message","z":"d38f61b9.a242f","name":"send BreastCancerDiagnosis/diagnosis","spec":"in ID key, in name, in pathoReport, in radioReport, out diagnosis","x":497.5,"y":240,"wires":[["3eeb2418.2dc8ac"]]},{"id":"260f2880.b8ac08","type":"inject","z":"d38f61b9.a242f","name":"No Suspicion","topic":"","payload":"{\"diagnosis\": \"diagnosis\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["7a7a19e0.52f978"]]},{"id":"7a7a19e0.52f978","type":"bspl-message","z":"d38f61b9.a242f","name":"send BreastCancerDiagnosis/diagnosis3","spec":"in ID key, in name, nil tissue, out diagnosis","x":500,"y":300,"wires":[["3eeb2418.2dc8ac"]]},{"id":"abd8d9ef.afb3f8","type":"inject","z":"d38f61b9.a242f","name":"Tumor Board sends findings","topic":"","payload":"{\"diagnosis\": \"diagnosis\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["9e85be9e.afa6e"]]},{"id":"9e85be9e.afa6e","type":"bspl-message","z":"d38f61b9.a242f","name":"send BreastCancerDiagnosis/diagnosis2","spec":"in ID key, in name, in findingsPhy, out diagnosis","x":500,"y":360,"wires":[["3eeb2418.2dc8ac"]]},{"id":"3eeb2418.2dc8ac","type":"json","z":"d38f61b9.a242f","name":"","property":"payload","action":"","pretty":false,"x":762.5,"y":240,"wires":[["5b494df6.f3c534"]]},{"id":"5b494df6.f3c534","type":"udp out","z":"d38f61b9.a242f","name":"to Patient","addr":"localhost","iface":"","port":8001,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":902.5,"y":240,"wires":[]},{"id":"a64d6588.382fd8","type":"json","z":"d38f61b9.a242f","name":"","property":"payload","action":"","pretty":false,"x":767.5,"y":120,"wires":[["7e1df506.b529bc"]]},{"id":"7e1df506.b529bc","type":"udp out","z":"d38f61b9.a242f","name":"to Pathologist","addr":"localhost","iface":"","port":8002,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":907.5,"y":120,"wires":[]},{"id":"af3672ef.1de64","type":"json","z":"d38f61b9.a242f","name":"","property":"payload","action":"","pretty":false,"x":772.5,"y":180,"wires":[["4e49193f.77a3b8"]]},{"id":"4e49193f.77a3b8","type":"udp out","z":"d38f61b9.a242f","name":"to Radiologist","addr":"localhost","iface":"","port":8003,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":912.5,"y":180,"wires":[]},{"id":"56159f6f.7ef28","type":"udp in","z":"794960be.4e51b","name":"TumorBoard","iface":"","port":8004,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["9c2e9109.48083"]]},{"id":"9c2e9109.48083","type":"json","z":"794960be.4e51b","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["5def7130.4a457"]]},{"id":"5def7130.4a457","type":"bspl-observer","z":"794960be.4e51b","name":"TumorBoard","spec":"in ID key, out findingsPhy, out findingsRadio, in person, nil radioReport, in calcification, in tissue, nil pathoReport, in cells, out findingsPatho","timeout":0,"x":405,"y":60,"wires":[["2dbfdbd9.cef634"]]},{"id":"2dbfdbd9.cef634","type":"debug","z":"794960be.4e51b","name":"TumorBoard","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":60,"wires":[]},{"id":"94339dc9.31ea9","type":"inject","z":"794960be.4e51b","name":"send findings to Physician","topic":"","payload":"{\"findingsPhy\": \"findingsPhy\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["71a48190.df924"]]},{"id":"71a48190.df924","type":"bspl-message","z":"794960be.4e51b","name":"send BreastCancerDiagnosis/sendFindingsPhy","spec":"in ID key, in cells, in calcification, out findingsPhy","x":500,"y":120,"wires":[["4b03f47b.98533c"]]},{"id":"6df00911.60df28","type":"inject","z":"794960be.4e51b","name":"send findings to Patho","topic":"","payload":"{\"findingsPatho\": \"findingsPatho\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["9fea9707.dc38c8"]]},{"id":"9fea9707.dc38c8","type":"bspl-message","z":"794960be.4e51b","name":"send BreastCancerDiagnosis/sendFindingsPatho","spec":"in ID key, in findingsPhy, out findingsPatho","x":505,"y":180,"wires":[["39096a2d.d52806"]]},{"id":"af278cba.cbaf7","type":"inject","z":"794960be.4e51b","name":"send findings to Radio","topic":"","payload":"{\"findingsRadio\": \"findingsRadio\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["125ef446.15906c"]]},{"id":"125ef446.15906c","type":"bspl-message","z":"794960be.4e51b","name":"send BreastCancerDiagnosis/sendFindingsRadio","spec":"in ID key, in findingsPhy, out findingsRadio","x":505,"y":240,"wires":[["28a7752c.93ff5a"]]},{"id":"28a7752c.93ff5a","type":"json","z":"794960be.4e51b","name":"","property":"payload","action":"","pretty":false,"x":790,"y":240,"wires":[["729107c.99efaf8"]]},{"id":"729107c.99efaf8","type":"udp out","z":"794960be.4e51b","name":"to Radiologist","addr":"localhost","iface":"","port":8003,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":240,"wires":[]},{"id":"39096a2d.d52806","type":"json","z":"794960be.4e51b","name":"","property":"payload","action":"","pretty":false,"x":790,"y":180,"wires":[["4f7b0ee3.675c4"]]},{"id":"4f7b0ee3.675c4","type":"udp out","z":"794960be.4e51b","name":"to Pathologist","addr":"localhost","iface":"","port":8002,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":180,"wires":[]},{"id":"4b03f47b.98533c","type":"json","z":"794960be.4e51b","name":"","property":"payload","action":"","pretty":false,"x":780,"y":120,"wires":[["df676bb6.5fbe98"]]},{"id":"df676bb6.5fbe98","type":"udp out","z":"794960be.4e51b","name":"to Physician","addr":"localhost","iface":"","port":8000,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":920,"y":120,"wires":[]},{"id":"a9e7327b.5de83","type":"udp in","z":"f665c2b9.50c7c","name":"Pathologist","iface":"","port":8002,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["b5d99986.fe1ca8"]]},{"id":"b5d99986.fe1ca8","type":"json","z":"f665c2b9.50c7c","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["d85f7988.eb5908"]]},{"id":"d85f7988.eb5908","type":"bspl-observer","z":"f665c2b9.50c7c","name":"Pathologist","spec":"in ID key, out tissue, out cells, nil pathoReport, in findingsPhy, out findingsPatho, in name","timeout":0,"x":407.5,"y":60,"wires":[["5a596070.6513c"]]},{"id":"5a596070.6513c","type":"debug","z":"f665c2b9.50c7c","name":"Pathologist","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":565,"y":60,"wires":[]},{"id":"ccb0229d.a044b","type":"inject","z":"f665c2b9.50c7c","name":"send report to Physician","topic":"","payload":"{\"ID\": \"1\", \"pathoReport\": \"pathoReport\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["b767ec43.6663f"]]},{"id":"b767ec43.6663f","type":"bspl-message","z":"f665c2b9.50c7c","name":"send BreastCancerDiagnosis/sendPathoReport","spec":"in ID key, in tissue, nil cells, out pathoReport","x":520,"y":120,"wires":[["3230fe76.18ffc2"]]},{"id":"f501d71d.b74628","type":"inject","z":"f665c2b9.50c7c","name":"send cells to Tumor Board","topic":"","payload":"{\"cells\": \"cells\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["fd94b57f.e7c998"]]},{"id":"fd94b57f.e7c998","type":"bspl-message","z":"f665c2b9.50c7c","name":"send BreastCancerDiagnosis/sendCells","spec":"in ID key, in tissue, nil pathoReport, out cells","x":505,"y":180,"wires":[["4eed5e3d.5e854"]]},{"id":"3230fe76.18ffc2","type":"json","z":"f665c2b9.50c7c","name":"","property":"payload","action":"","pretty":false,"x":800,"y":120,"wires":[["628b315a.fbafe"]]},{"id":"628b315a.fbafe","type":"udp out","z":"f665c2b9.50c7c","name":"to Physician","addr":"localhost","iface":"","port":8000,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":940,"y":120,"wires":[]},{"id":"4eed5e3d.5e854","type":"json","z":"f665c2b9.50c7c","name":"","property":"payload","action":"","pretty":false,"x":770,"y":180,"wires":[["ce40e7c4.7efc18"]]},{"id":"ce40e7c4.7efc18","type":"udp out","z":"f665c2b9.50c7c","name":"to TumorBoard","addr":"localhost","iface":"","port":8004,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":910,"y":180,"wires":[]},{"id":"69d025d3.91e86c","type":"udp in","z":"39af6d6d.cd6212","name":"Radiologist","iface":"","port":8003,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["ef10a691.115df8"]]},{"id":"ef10a691.115df8","type":"json","z":"39af6d6d.cd6212","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["657ff9c8.18f3b8"]]},{"id":"657ff9c8.18f3b8","type":"bspl-observer","z":"39af6d6d.cd6212","name":"Radiologist","spec":"in ID key, out person, out calcification, nil radioReport, in findingsPhy, out findingsRadio, in name, in tissue","timeout":0,"x":407.5,"y":60,"wires":[["7a80b5e2.64de7c"]]},{"id":"7a80b5e2.64de7c","type":"debug","z":"39af6d6d.cd6212","name":"Radiologist","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":565,"y":60,"wires":[]},{"id":"7507b2d6.7cda6c","type":"inject","z":"39af6d6d.cd6212","name":"send report to Physician","topic":"","payload":"{\"radioReport\": \"radioReport\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["4fda5281.6aca7c"]]},{"id":"4fda5281.6aca7c","type":"bspl-message","z":"39af6d6d.cd6212","name":"send BreastCancerDiagnosis/sendRadioReport","spec":"in ID key, in person, nil calcification, out radioReport","x":500,"y":120,"wires":[["4fc3996f.8bf548"]]},{"id":"329d5e11.4ea912","type":"inject","z":"39af6d6d.cd6212","name":"send calcification to Tumor Board","topic":"","payload":"{\"calcification\": \"calcification\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["ca33676f.1e7738"]]},{"id":"ca33676f.1e7738","type":"bspl-message","z":"39af6d6d.cd6212","name":"send BreastCancerDiagnosis/sendCalcification","spec":"in ID key, in person, nil radioReport, out calcification","x":505,"y":180,"wires":[["7257ba0.f4cff48"]]},{"id":"4fc3996f.8bf548","type":"json","z":"39af6d6d.cd6212","name":"","property":"payload","action":"","pretty":false,"x":780,"y":120,"wires":[["871b7c06.50665"]]},{"id":"871b7c06.50665","type":"udp out","z":"39af6d6d.cd6212","name":"to Physician","addr":"localhost","iface":"","port":8000,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":920,"y":120,"wires":[]},{"id":"7257ba0.f4cff48","type":"json","z":"39af6d6d.cd6212","name":"","property":"payload","action":"","pretty":false,"x":790,"y":180,"wires":[["48e27392.6f85ac"]]},{"id":"48e27392.6f85ac","type":"udp out","z":"39af6d6d.cd6212","name":"to TumorBoard","addr":"localhost","iface":"","port":8004,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":180,"wires":[]},{"id":"22b290db.c8cbb","type":"udp in","z":"ee32f444.0245f8","name":"Patient","iface":"","port":8001,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["b89855a5.d86f38"]]},{"id":"b89855a5.d86f38","type":"json","z":"ee32f444.0245f8","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["14f76f1e.a6d741"]]},{"id":"14f76f1e.a6d741","type":"bspl-observer","z":"ee32f444.0245f8","name":"Patient","spec":"out ID key, out name, in pathoReport, in radioReport, out diagnosis, nil tissue, in findingsPhy","timeout":0,"x":397.5,"y":60,"wires":[["71d8757.deba28c"]]},{"id":"71d8757.deba28c","type":"debug","z":"ee32f444.0245f8","name":"Patient","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":545,"y":60,"wires":[]},{"id":"6b7322b.b4efedc","type":"inject","z":"ee32f444.0245f8","name":"visit Physician","topic":"","payload":"{\"name\": \"Hasham\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["c6f3c18e.ebf48"]]},{"id":"c6f3c18e.ebf48","type":"bspl-message","z":"ee32f444.0245f8","name":"send BreastCancerDiagnosis/visit","spec":"out ID key, out name","x":360,"y":120,"wires":[["2579e1cb.556b0e"]]},{"id":"2579e1cb.556b0e","type":"json","z":"ee32f444.0245f8","name":"","property":"payload","action":"","pretty":false,"x":590,"y":120,"wires":[["16a09c6.bf46864"]]},{"id":"16a09c6.bf46864","type":"udp out","z":"ee32f444.0245f8","name":"to Physician","addr":"localhost","iface":"","port":8000,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":730,"y":120,"wires":[]}]