soc_project5/flow-after.json
[{"id":"59e5b50b.7e0576","type":"tab","label":"Physician","disabled":false,"info":""},{"id":"3fe18ab6.f167d9","type":"tab","label":"TumorBoard","disabled":false,"info":""},{"id":"750505ae.ef4da9","type":"tab","label":"Pathologist","disabled":false,"info":""},{"id":"9fc7ce32.2542b0","type":"tab","label":"Radiologist","disabled":false,"info":""},{"id":"724a695c.8e7dca","type":"tab","label":"Patient","disabled":false,"info":""},{"id":"e6334a73.7d1416","type":"udp in","z":"59e5b50b.7e0576","name":"Physician","iface":"","port":8000,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["aef2dd5a.2bc802"]]},{"id":"aef2dd5a.2bc802","type":"json","z":"59e5b50b.7e0576","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["82834623.0e9071"]]},{"id":"82834623.0e9071","type":"bspl-observer","z":"59e5b50b.7e0576","name":"Physician","spec":"ID key, cells, calcification, findingsPhy, name, tissue, pathoReport, radioReport, diagnosis, person","timeout":0,"x":402.5,"y":60,"wires":[["737a3e88.009c1a"]]},{"id":"737a3e88.009c1a","type":"debug","z":"59e5b50b.7e0576","name":"Physician","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":555,"y":60,"wires":[]},{"id":"bd715c80.dea7c6","type":"inject","z":"59e5b50b.7e0576","name":"send biopsy to patho","topic":"","payload":"{\"ID\": \"1\", \"tissue\": \"tissue\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["ecda4530.f63fe3"]]},{"id":"ecda4530.f63fe3","type":"bspl-message","z":"59e5b50b.7e0576","name":"send BreastCancerDiagnosis/sendBiopsy","spec":"in ID key, in name, out tissue","x":520,"y":120,"wires":[["09a44317.f62eef"]]},{"id":"ad92f45f.4fea3c","type":"inject","z":"59e5b50b.7e0576","name":"send patient to radio","topic":"","payload":"{\"person\": \"Hasham\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["014e7958.4ea4ba"]]},{"id":"014e7958.4ea4ba","type":"bspl-message","z":"59e5b50b.7e0576","name":"send BreastCancerDiagnosis/sendPatient","spec":"in ID key, in name, in tissue, out person","x":522.5,"y":180,"wires":[["ec48cf49.51c238"]]},{"id":"c9239319.036f70","type":"inject","z":"59e5b50b.7e0576","name":"tumor board sent findings from radio / patho sent report","topic":"","payload":"{\"diagnosis\": \"diagnosis\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":240,"wires":[["fc9107de.37b86e"]]},{"id":"fc9107de.37b86e","type":"bspl-message","z":"59e5b50b.7e0576","name":"send BreastCancerDiagnosis/diagnosis3","spec":"in ID key, in name, in findingsPhy, in pathoReport, nil radioReport, out diagnosis","x":620,"y":240,"wires":[["2746cf6e.2c5e2c"]]},{"id":"0cce2d92.9dc649","type":"inject","z":"59e5b50b.7e0576","name":"tumor board sent findings from patho / radio sent report","topic":"","payload":"{\"diagnosis\": \"diagnosis\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":300,"wires":[["f2726921.6e7184"]]},{"id":"f2726921.6e7184","type":"bspl-message","z":"59e5b50b.7e0576","name":"send BreastCancerDiagnosis/diagnosis2","spec":"in ID key, in name, in findingsPhy, nil pathoReport, in radioReport, out diagnosis","x":640,"y":300,"wires":[["2746cf6e.2c5e2c"]]},{"id":"ec51d75d.665e19","type":"inject","z":"59e5b50b.7e0576","name":"tumor board sent findings (no reports from patho & radio)","topic":"","payload":"{\"ID\": \"1\", \"diagnosis\": \"diagnosis\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":360,"wires":[["d70bbe66.cf7abc"]]},{"id":"d70bbe66.cf7abc","type":"bspl-message","z":"59e5b50b.7e0576","name":"send BreastCancerDiagnosis/diagnosis4","spec":"in ID key, in name, in findingsPhy, nil radioReport, nil pathoReport, out diagnosis","x":680,"y":360,"wires":[["2746cf6e.2c5e2c"]]},{"id":"576d84ec.6cb435","type":"inject","z":"59e5b50b.7e0576","name":"no suspicion","topic":"","payload":"{\"ID\": \"1\", \"diagnosis\": \"diagnosis\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["d0abe3a2.261d8c"]]},{"id":"d0abe3a2.261d8c","type":"bspl-message","z":"59e5b50b.7e0576","name":"send BreastCancerDiagnosis/diagnosis5","spec":"in ID key, in name, nil tissue, out diagnosis","x":520,"y":420,"wires":[["2746cf6e.2c5e2c"]]},{"id":"5f6efad4.1e63ae","type":"inject","z":"59e5b50b.7e0576","name":"patho & radio sent reports (no tumor board used)","topic":"","payload":"{\"ID\": \"1\", \"diagnosis\": \"diagnosis\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":480,"wires":[["803bc036.48a13b"]]},{"id":"803bc036.48a13b","type":"bspl-message","z":"59e5b50b.7e0576","name":"send BreastCancerDiagnosis/diagnosis","spec":"in ID key, in name, in pathoReport, in radioReport, out diagnosis","x":620,"y":480,"wires":[["2746cf6e.2c5e2c"]]},{"id":"09a44317.f62eef","type":"json","z":"59e5b50b.7e0576","name":"","property":"payload","action":"","pretty":false,"x":787.5,"y":120,"wires":[["4e1ca8b2.724896"]]},{"id":"4e1ca8b2.724896","type":"udp out","z":"59e5b50b.7e0576","name":"to Pathologist","addr":"localhost","iface":"","port":8001,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":927.5,"y":120,"wires":[]},{"id":"2746cf6e.2c5e2c","type":"json","z":"59e5b50b.7e0576","name":"","property":"payload","action":"","pretty":false,"x":890,"y":300,"wires":[["3ae2047c.c78748"]]},{"id":"3ae2047c.c78748","type":"udp out","z":"59e5b50b.7e0576","name":"to Patient","addr":"localhost","iface":"","port":8002,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":927.5,"y":240,"wires":[]},{"id":"ec48cf49.51c238","type":"json","z":"59e5b50b.7e0576","name":"","property":"payload","action":"","pretty":false,"x":792.5,"y":180,"wires":[["0aae5d1a.dc6234"]]},{"id":"0aae5d1a.dc6234","type":"udp out","z":"59e5b50b.7e0576","name":"to Radiologist","addr":"localhost","iface":"","port":8003,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":932.5,"y":180,"wires":[]},{"id":"3953071f.47bf45","type":"udp in","z":"3fe18ab6.f167d9","name":"TumorBoard","iface":"","port":8004,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["4fd59bb6.ed3ded"]]},{"id":"4fd59bb6.ed3ded","type":"json","z":"3fe18ab6.f167d9","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["14cc6c89.4989c5"]]},{"id":"14cc6c89.4989c5","type":"bspl-observer","z":"3fe18ab6.f167d9","name":"TumorBoard","spec":"ID key, tissue, pathoReport, cells, calcification, findingsPhy, findingsRadio, person, radioReport, findingsPatho","timeout":0,"x":405,"y":60,"wires":[["9eee48a1.25bfdb"]]},{"id":"9eee48a1.25bfdb","type":"debug","z":"3fe18ab6.f167d9","name":"TumorBoard","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":60,"wires":[]},{"id":"f94ecc1d.1808c8","type":"inject","z":"3fe18ab6.f167d9","name":"send findings to physician (cells given)","topic":"","payload":"{\"findingsPhy\": \"findingsPhy\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["af72dca7.b1f6f7"]]},{"id":"af72dca7.b1f6f7","type":"bspl-message","z":"3fe18ab6.f167d9","name":"send BreastCancerDiagnosis/sendFindingsPhy2","spec":"in ID key, in cells, nil calcification, out findingsPhy","x":540,"y":120,"wires":[["daa92b5e.6d15d9"]]},{"id":"c9a0dc9f.27cd92","type":"inject","z":"3fe18ab6.f167d9","name":"send findings to physician (both cells and calcification given)","topic":"","payload":"{\"findingsPhy\": \"findingsPhy\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":180,"wires":[["e45d3716.8a749a"]]},{"id":"e45d3716.8a749a","type":"bspl-message","z":"3fe18ab6.f167d9","name":"send BreastCancerDiagnosis/sendFindingsPhy","spec":"in ID key, in cells, in calcification, out findingsPhy","x":700,"y":180,"wires":[["daa92b5e.6d15d9"]]},{"id":"53a4f5e1.0be7c3","type":"inject","z":"3fe18ab6.f167d9","name":"send findings to physician (calcification given)","topic":"","payload":"{\"ID\": \"1\", \"findingsPhy\": \"findingsPhy\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":240,"wires":[["72ec728c.0b0dae"]]},{"id":"72ec728c.0b0dae","type":"bspl-message","z":"3fe18ab6.f167d9","name":"send BreastCancerDiagnosis/sendFindingsPhy3","spec":"in ID key, in calcification, nil cells, out findingsPhy","x":700,"y":240,"wires":[["daa92b5e.6d15d9"]]},{"id":"cf99163b.5c5722","type":"inject","z":"3fe18ab6.f167d9","name":"send findings to patho","topic":"","payload":"{\"ID\": \"1\", \"findingsPatho\": \"findingsPatho\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["b3e2bde5.7e00d9"]]},{"id":"b3e2bde5.7e00d9","type":"bspl-message","z":"3fe18ab6.f167d9","name":"send BreastCancerDiagnosis/sendFindingsPatho","spec":"in ID key, in findingsPhy, out findingsPatho","x":502.5,"y":300,"wires":[["b1cd8663.5df907"]]},{"id":"4366a6e5.410a59","type":"inject","z":"3fe18ab6.f167d9","name":"send findings to radio","topic":"","payload":"{\"findingsRadio\": \"findingsRadio\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["02763a41.e98bdd"]]},{"id":"02763a41.e98bdd","type":"bspl-message","z":"3fe18ab6.f167d9","name":"send BreastCancerDiagnosis/sendFindingsRadio","spec":"in ID key, in findingsPhy, out findingsRadio","x":502.5,"y":360,"wires":[["d0265ce6.801bfc"]]},{"id":"daa92b5e.6d15d9","type":"json","z":"3fe18ab6.f167d9","name":"","property":"payload","action":"","pretty":false,"x":782.5,"y":120,"wires":[["b73b5bfc.498c52"]]},{"id":"b73b5bfc.498c52","type":"udp out","z":"3fe18ab6.f167d9","name":"to Physician","addr":"localhost","iface":"","port":8000,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":922.5,"y":120,"wires":[]},{"id":"d0265ce6.801bfc","type":"json","z":"3fe18ab6.f167d9","name":"","property":"payload","action":"","pretty":false,"x":787.5,"y":360,"wires":[["e3e1419b.6b4e41"]]},{"id":"e3e1419b.6b4e41","type":"udp out","z":"3fe18ab6.f167d9","name":"to Radiologist","addr":"localhost","iface":"","port":8003,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":927.5,"y":360,"wires":[]},{"id":"b1cd8663.5df907","type":"json","z":"3fe18ab6.f167d9","name":"","property":"payload","action":"","pretty":false,"x":787.5,"y":300,"wires":[["e7e4e9c9.5e244d"]]},{"id":"e7e4e9c9.5e244d","type":"udp out","z":"3fe18ab6.f167d9","name":"to Pathologist","addr":"localhost","iface":"","port":8001,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":927.5,"y":300,"wires":[]},{"id":"70c284dc.ec3b43","type":"udp in","z":"750505ae.ef4da9","name":"Pathologist","iface":"","port":8001,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["cb783f04.f60017"]]},{"id":"cb783f04.f60017","type":"json","z":"750505ae.ef4da9","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["b432ecd0.cb5aed"]]},{"id":"b432ecd0.cb5aed","type":"bspl-observer","z":"750505ae.ef4da9","name":"Pathologist","spec":"ID key, tissue, pathoReport, cells, name, findingsPhy, findingsPatho","timeout":0,"x":407.5,"y":60,"wires":[["7c2ba04e.418bcf"]]},{"id":"7c2ba04e.418bcf","type":"debug","z":"750505ae.ef4da9","name":"Pathologist","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":565,"y":60,"wires":[]},{"id":"1dc3c804.b3a932","type":"inject","z":"750505ae.ef4da9","name":"send report to physician","topic":"","payload":"{\"pathoReport\": \"pathoReport\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["31f2e40c.fcf588"]]},{"id":"31f2e40c.fcf588","type":"bspl-message","z":"750505ae.ef4da9","name":"send BreastCancerDiagnosis/sendPathoReport","spec":"in ID key, in tissue, nil cells, out pathoReport","x":520,"y":120,"wires":[["299d8ae9.4f6c24"]]},{"id":"2b3c77a3.efeafb","type":"inject","z":"750505ae.ef4da9","name":"send cells to tumor board","topic":"","payload":"{\"cells\": \"cells\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["d681d1d3.b709a9"]]},{"id":"d681d1d3.b709a9","type":"bspl-message","z":"750505ae.ef4da9","name":"send BreastCancerDiagnosis/sendCells","spec":"in ID key, in tissue, nil pathoReport, out cells","x":505,"y":180,"wires":[["cd97045d.f9327c"]]},{"id":"cd97045d.f9327c","type":"json","z":"750505ae.ef4da9","name":"","property":"payload","action":"","pretty":false,"x":770,"y":180,"wires":[["a67c9d10.61cd84"]]},{"id":"a67c9d10.61cd84","type":"udp out","z":"750505ae.ef4da9","name":"to TumorBoard","addr":"localhost","iface":"","port":8004,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":910,"y":180,"wires":[]},{"id":"299d8ae9.4f6c24","type":"json","z":"750505ae.ef4da9","name":"","property":"payload","action":"","pretty":false,"x":800,"y":120,"wires":[["fae9de0e.c0853c"]]},{"id":"fae9de0e.c0853c","type":"udp out","z":"750505ae.ef4da9","name":"to Physician","addr":"localhost","iface":"","port":8000,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":940,"y":120,"wires":[]},{"id":"493a53a6.32d9f5","type":"udp in","z":"9fc7ce32.2542b0","name":"Radiologist","iface":"","port":8003,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["3688249f.699912"]]},{"id":"3688249f.699912","type":"json","z":"9fc7ce32.2542b0","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["5dbf21c7.351d28"]]},{"id":"5dbf21c7.351d28","type":"bspl-observer","z":"9fc7ce32.2542b0","name":"Radiologist","spec":"ID key, findingsPhy, findingsRadio, person, radioReport, calcification, name, tissue","timeout":0,"x":407.5,"y":60,"wires":[["d332f807.7d7bef"]]},{"id":"d332f807.7d7bef","type":"debug","z":"9fc7ce32.2542b0","name":"Radiologist","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":565,"y":60,"wires":[]},{"id":"b88e93a6.0c408a","type":"inject","z":"9fc7ce32.2542b0","name":"send report to physician","topic":"","payload":"{\"radioReport\": \"radioReport\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["54104722.94c255"]]},{"id":"54104722.94c255","type":"bspl-message","z":"9fc7ce32.2542b0","name":"send BreastCancerDiagnosis/sendRadioReport","spec":"in ID key, in person, nil calcification, out radioReport","x":500,"y":120,"wires":[["f60176cc.3bd858"]]},{"id":"c8f62917.d80f39","type":"inject","z":"9fc7ce32.2542b0","name":"send calcification to tumor board","topic":"","payload":"{\"ID\": \"1\", \"calcification\": \"calcification\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["fb377158.2f7c69"]]},{"id":"fb377158.2f7c69","type":"bspl-message","z":"9fc7ce32.2542b0","name":"send BreastCancerDiagnosis/sendCalcification","spec":"in ID key, in person, nil radioReport, out calcification","x":505,"y":180,"wires":[["1f3f3df6.640d2b"]]},{"id":"1f3f3df6.640d2b","type":"json","z":"9fc7ce32.2542b0","name":"","property":"payload","action":"","pretty":false,"x":790,"y":180,"wires":[["0a3d470a.bea4a4"]]},{"id":"0a3d470a.bea4a4","type":"udp out","z":"9fc7ce32.2542b0","name":"to TumorBoard","addr":"localhost","iface":"","port":8004,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":180,"wires":[]},{"id":"f60176cc.3bd858","type":"json","z":"9fc7ce32.2542b0","name":"","property":"payload","action":"","pretty":false,"x":780,"y":120,"wires":[["c9ff1ea0.e47b2a"]]},{"id":"c9ff1ea0.e47b2a","type":"udp out","z":"9fc7ce32.2542b0","name":"to Physician","addr":"localhost","iface":"","port":8000,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":920,"y":120,"wires":[]},{"id":"ae1410ee.f76ea7","type":"udp in","z":"724a695c.8e7dca","name":"Patient","iface":"","port":8002,"ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":70,"y":60,"wires":[["aa6874ab.f0d4d2"]]},{"id":"aa6874ab.f0d4d2","type":"json","z":"724a695c.8e7dca","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["e80b3903.c0456f"]]},{"id":"e80b3903.c0456f","type":"bspl-observer","z":"724a695c.8e7dca","name":"Patient","spec":"ID key, name, findingsPhy, pathoReport, radioReport, diagnosis, tissue","timeout":0,"x":397.5,"y":60,"wires":[["bd057e84.215101"]]},{"id":"bd057e84.215101","type":"debug","z":"724a695c.8e7dca","name":"Patient","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":545,"y":60,"wires":[]},{"id":"1452e229.c0685a","type":"inject","z":"724a695c.8e7dca","name":"visit physician","topic":"","payload":"{\"name\": \"Hasham\", \"ID\": \"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["9d4f26a4.0d4752"]]},{"id":"9d4f26a4.0d4752","type":"bspl-message","z":"724a695c.8e7dca","name":"send BreastCancerDiagnosis/visit","spec":"out ID key, out name","x":335,"y":120,"wires":[["1dad75e9.aa1afb"]]},{"id":"1dad75e9.aa1afb","type":"json","z":"724a695c.8e7dca","name":"","property":"payload","action":"","pretty":false,"x":590,"y":120,"wires":[["92d979df.645a2d"]]},{"id":"92d979df.645a2d","type":"udp out","z":"724a695c.8e7dca","name":"to Physician","addr":"localhost","iface":"","port":8000,"ipv":"udp4","outport":"","base64":false,"multicast":"false","x":730,"y":120,"wires":[]}]